/*apply to all button*/
.btn                        {-fx-background-radius   : 100;
                             -fx-background-insets   : 0;
                             -fx-border-width        : 2;
                             -fx-border-color        : transparent;
                             -fx-border-radius       : 100;
                             -fx-padding             : 8 20 8 20;
                             -fx-cursor              : hand;}

/*handle focused button*/
.btn:focused                {-fx-border-color        : rgba(0, 0, 0, .3);}
.btn:hover,
.btn:pressed                {-fx-border-color        : transparent;}

/*home button*/
.btn-home                   {-fx-background-radius   : 0;
                             -fx-padding             : 0;
                             -fx-background-color    : #ffca28;}
.btn-home:focused           {-fx-border-radius       : 0;}
.btn-home:hover             {-fx-background-color    : #fec000;}
.btn-home:pressed           {-fx-background-color    : #ffcd37;}

/*side menu button*/
.btn-menu                   {-fx-background-color    : transparent;}
.btn-menu:hover             {-fx-background-color    : #08367c;}
.btn-menu:pressed           {-fx-background-color    : #2684ff;}
.btn-menu > .arrow-button   {-fx-pref-width: 0;visibility: false;}

/*grey color button*/
.btn-grey                   {-fx-background-color    : #ebecf0;}
.btn-grey:hover             {-fx-background-color    : #08367c;
                             -fx-text-fill           : #ffffff;}
.btn-grey:pressed           {-fx-background-color    : #2684ff;}

/*blue color button*/
.btn-blue                   {-fx-background-color    : #0747A6;
                             -fx-text-fill           : #ffffff;}
.btn-blue:hover             {-fx-background-color    : #08367c;}
.btn-blue:pressed           {-fx-background-color    : #2684ff;}


/*toggle button*/
.toggle:selected            {-fx-background-color    : #08367c;
                             -fx-text-fill           : #ffffff;}


/*context menu*/
.context-menu               {-fx-background-radius: 5;
                             -fx-text-fill: #172B4D;
                             -fx-border-width: 0;
                             -fx-padding: 5;}
.menu-item                  {-fx-background-radius: 4;}
.menu-item:pressed .label,
.menu-item:focused .label   {-fx-text-fill: white;}
.menu-item:focused          {-fx-background-color: #0747A6;}
.menu-item:pressed          {-fx-background-color: #2684FF;}

/*illustaration background*/
.illustration               {-fx-background-image: url("../images/pic_decor1.png"), url("../images/pic_decor2.png");
                             -fx-background-repeat: stretch;
                             -fx-background-size: 300;
                             -fx-background-position: right bottom, top left;}
